body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #061c3b
, #061c3b);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px; /* Adiciona um padding para evitar que o conteúdo encoste nas bordas da tela */
  box-sizing: border-box; /* Garante que padding não adicione à largura total */
}

.container {
  background-color: #d1b790; 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(10, 0, 0, 0.2);
  text-align: center;
  color: #061c3b;
  width: 100%; /* Ocupa 100% da largura disponível */
  max-width: 350px; /* Limita a largura máxima para não ficar muito grande em telas maiores */
  box-sizing: border-box; /* Garante que padding não adicione à largura total */
}

.qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #061c3b;
  border-radius: 5px;
}

.qrcode img { /* Garante que a imagem do QR Code seja responsiva */
  max-width: 100%; 
  height: auto;
  display: block; /* Remove espaços extras abaixo da imagem */
}

/* Opcional: Ajusta o tamanho da fonte para telas menores */
@media (max-width: 400px) {
  .container h1 {
    font-size: 1.8em; /* Diminui um pouco o título em telas muito pequenas */
  }
  .container p {
    font-size: 1em; /* Diminui um pouco o texto da chave Pix */
  }
  .container button {
    font-size: 0.9em; /* Diminui um pouco o botão */
    padding: 8px 15px;
  }
}

/* Mantenha suas outras regras CSS aqui */
.qrcode table {
  margin: 0 auto;
}

.container h1 {
  margin-top: 0;
  color: #061c3b;
  margin-bottom: 20px;
}

.container p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.container button {
  background-color: #061c3b; 
  color: #d1b790;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #6f6f72;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  background: #6f6f72; /* azul médio dos botões */ 
  border: none;
  border-radius: 8px;
  color: #fff;
  margin: 5px 0;
  transition: 0.3s;
}

button:hover {
  background: #262628; /* tom um pouco mais claro no hover */
}

p {
  font-size: 18px;
}
